.table th {
    background-color: #EA0303;
}
.max-value {
    font-weight: bold; 
    color: #45da0a !important;
  }
  .max-value-color {
    color: #EA0303; 
  }

  .text-bg-danger-custom {
    background-color: #EA0303;
  }




